@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan&display=swap');
*{
    margin: 0px;
    padding: 0px; 
}
 /* Nav bar starts here */
nav{
    background-color: rgba(0, 0, 0, 0.705);
}
.navbar-brand{
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    color: white;
}
.nav-link{
    font-family: 'Allan', cursive;
    font-size: 30px;
    color: white;
    transition: ease-in-out;
    transition-duration: 0.5s;
}
.nav-link:hover{
    color: white !important;
}
.btn{
    border: 3px solid white;
}
.navbar-toggler{
    background-image: url(../../Images/toggle.png);
    background-size: cover;
    height: 30px;
    width: 60px;
}
/* Body lies here*/
body{
    background-color: #c5cbe3;
}
a:hover{
    text-decoration: none;
    color: darkblue;
}
.container{
    margin-top: 15vh;
    margin-bottom: 10vh;
}
.row1, .row2{
    padding: 5vh;
}
.box1, .box2, .box3, .box4{
    padding: 2vh 5vh 2vh 5vh;
    border-radius: 10px;
    background-color: floralwhite;
}
.ab{
    transition: ease-in-out;
    transition-duration: 0.5s;
}
.ab:hover{
    text-decoration: none;
    color: darkblue;
}
.box1{
    border-top: 5px solid orangered;
    border-right: 5px solid orangered;
    border-bottom: 5px solid darkblue;
    border-left: 5px solid darkblue;
    min-width: 30vw;
    min-height: 30vh;
}
.box2{
    border-top: 5px solid orangered;
    border-right: 5px solid darkblue;
    border-bottom: 5px solid purple;
    border-left: 5px solid purple;
    min-width: 30vw;
    min-height: 30vh;
}
.box3{
    border-top: 5px solid orangered;
    border-right: 5px solid darkblue;
    border-bottom: 5px solid darkblue;
    border-left: 5px solid yellow;
    min-width: 30vw;
    min-height: 30vh;
}
.box4{
    border-top: 5px solid orangered;
    border-right: 5px solid darkblue;
    border-bottom: 5px solid lightseagreen;
    border-left: 5px solid purple;
    min-width: 30vw;
    min-height: 30vh;   
}
.heading{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 32px;
}
.content{
    font-family: 'Patrick Hand', cursive;
    text-align: justify;
    font-size: 24px;
}
@media only screen and (max-width: 1024px) {
    .box2, .box4{
        margin-top:10vh;
    }
}